.main-div {
  height: 100vh;

  .card {
    border: 0;
  }

  .main-screen {
    background-image: url("../../assets/1626173554_19-funart-pro-p-chikhuakhua-oboi-zhivotnie-krasivo-foto-19.jpg");
    min-height: 100%;
    border: 0;
  }
}

