.dog-table {
    height: 200px;
    overflow: auto;
    width: 750px;
}

.dog-anchor {
    color: black;
    max-width: 500px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.dog-url {
    width: 555px;
}

.close-button {
    text-align: center;
}

.toggle {
    display: flex;
    justify-content: center;
}