.request {
  width: 750px;
  color: black;

  .request-header {
    text-align: center;
    font-size: 30px;
    max-width: 750px;
  }

  .card {
    background-origin: content-box;
  }

  .house-apt {
    width: 30px;
  }

  .alert-tab {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(2px 4px 6px black);
    z-index: 200;
  }

  .order-button {
    width: 200px;
  }
}