.request {
  width: 750px;
  color: black;

  .request-header {
    text-align: center;
    font-size: 30px;
    max-width: 750px;
  }

  .card {
    background-origin: content-box;
  }

  .house-apt {
    width: 30px;
  }
}