.dog-request {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px;

  img {
    margin: 5px;
    width: 140px;
    height: 100px;
    display: block;
    background: #ccc;
    transition: transform .2s ease-in-out;
    cursor: pointer;

  }
  .choosed {
      border:2px green;
  }
  img:hover {
    transform: scale(1.15);

  }





}