body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: initial;

    background-image: url("assets/1626173554_19-funart-pro-p-chikhuakhua-oboi-zhivotnie-krasivo-foto-19.jpg");
    min-height: 100vh;
    border: 0;

}


